.cardBorder {
    border: 1px solid #757575;
    border-radius: 2px;
    padding: 4%;
    margin-bottom: 2%;
}

.right {
    float: right;
}

.transDiv {
    display: block;
}

.acctDiv {
    display: none;
}

.permissionsDiv {
    display: none;
}

.transTable {
    height: 40vh;
    overflow-y: scroll;
    overflow-x: auto;
}